<!DOCTYPE html>
<html>
<head>
    <title>Crondeck</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
      .container {
        max-width: 1000px;
      }
    </style>
</head>
<body>
<div class="container">
    <h1>Crondeck</h1>
    </form>
    <br>
    {% if results %}
    <h2>Status of last executions</h2>
    <br>
    <div id="results">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Status</th>
                <th>Name</th>
                <th>Project</th>
                <th>Last Execution</th>
            </tr>
            </thead>
            {% for result in results%}
            {% if result['status'] == "succeeded" %}
            {% set label_class = "label label-success label-sm" %}
            {% elif result['status'] == "failed" %}
            {% set label_class = "label label-danger label-sm" %}
            {% elif result['status'] == "running" or result['status'] == "aborted" %}
            {% set label_class = "label label-warning label-sm" %}
            {% endif %}

            <tr>
                <td><h4><span class="{{ label_class }}">{{ result['status'] }}</span></td>
                <td>{{ result['job']['name'] }}</td>
                <td>{{ result['project']}}</td>
                <td>{{ result['date-started']['date'] }}</td>
            </tr>
            {% endfor %}
        </table>
        <a href="{{ request.referrer }}" class="btn btn-info" role="button">Back</a>
    </div>
    {% endif %}
    <br>
    {% for error in errors %}
    <h4>{{ error }}</h4>
    {% endfor %}
</div>
<script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>